html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#board {
    height: 90%;
    width: 90%;
    padding: 0;
    margin: 0;
}

.map_canvas {
    height: 100%;
    width: 100%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.backlink {
    color: white;
    cursor: pointer;
    display: inline-block;
}

.dock {
    position: absolute;
    bottom: 10;
    background-image: url('assets/pics/metal012.jpg');
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('assets/pics/metal012.jpg');
}

.infobox {
    margin: 10px;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    background-color: black;
    border: 2px solid black;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -border-radius: 7px;
}
    .infobox.station,
    .infobox.accident {
        cursor: pointer;
    }
    .infobox.unit {
            cursor: move;
    }
    .infobox .description {
        display: none;
    }

 