html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#board {
    height: 90%;
    width: 90%;
    padding: 0;
    margin: 0;
}

.map_canvas {
    height: 100%;
    width: 100%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.backlink {
    color: white;
    cursor: pointer;
    display: inline-block;
}

.dock {
    position: absolute;
    bottom: 10;
    background-image: url('assets/pics/metal012.jpg');
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('assets/pics/metal012.jpg');
}

.infobox {
    margin: 10px;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    background-color: black;
    border: 2px solid black;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -border-radius: 7px;
}
    .infobox.station,
    .infobox.accident {
        cursor: pointer;
    }
    .infobox.unit {
            cursor: move;
    }
    .infobox .description {
        display: none;
    }


#controlbox {
	/*width: 180px;*/
	background: url('assets/pics/languagebox_gradient.png');
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: white;
	position: absolute;
	top: 0;
	left: 10px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	padding: 13px 5px 5px 5px;
	z-index: 1;
	 border: 2px solid black;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -border-radius: 7px;

}

div#controlbox {
	opacity: 0.4;
	}

/*#controlboxCompressed { width: 180px; }*/
	
.cbc {
	float: left;
	margin: 2px;
}

#controlbox img {
	position: absolute;
	top: 4px;
	right: 4px;
	}
	