html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    padding-right: 150px;
    margin: 0;
    height: 100%;
}

#map_dock {
    height: 100%;
}
    #map_canvas {
        height: 100%;
        width: 100%;
    }
    #dock {
        width: 100%;
        height: 150px;
        position: absolute;
        bottom: 0;
        background: blue;
    }
        .dockitem {
            height: 130px;
            width: 100px;
            margin: 10px;
            margin-right: 0;
            position: relative;
            display: inline-block;
            background-color: #AAF;
        }

#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 150px;
    background: green;
}
    .sidebaritem {
            height: 100px;
            width: 130px;
            margin: 10px;
            margin-bottom: 0;
            position: relative;
            display: inline-block;
            background-color: #AFA;
    }